body {
	width: 80%;
	max-width: 1024px;
	margin: 0 auto;
	text-align: center 
}
.h1tag{
	  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.container-padding50 {
	padding-top: 50px;
}

.container-textinput {
	width: 80%;
	display: inline-block;
	padding: 20px;
	font-size: 16px;
	font-family: Helvetica, sans-serif;
}

.container-button {
	width: 10%;
	display: inline-block;
	padding: 20px;
	background-color: blueviolet;
	color: white;
	font-size: 16px;
	font-family: Helvetica, sans-serif;

	border: 1px solid skyblue;
	border-radius: 5px;
}

.container-image {
	width: 30%;
	display: inline;
	float: left;
	margin-right:3%; 
}